<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.collection_select(:project_id, Project.all, :id, :name, {:prompt => 'Select project'}, :selected => @task.project_id ) %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.collection_select(:user_id, User.all, :id, :email, {:prompt => 'Select user'}, :selected => @task.user_id ) %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.text_field :due_date, :class => "datepicker" %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select(:category_id, Category.all, :id, :name, {:prompt => 'Select category'}, :selected => @task.category_id ) %>
  </div>



  <div class="field">
    <%= form.label :priority_id %>
    <%= form.collection_select(:priority_id, Priority.all, :id, :level, {:prompt => 'Select priority'}, :selected => @task.priority_id ) %>
  </div>

  <div class="field">
    <%= form.label :status_id %>
    <%= form.collection_select(:status_id, Status.all, :id, :name, {:prompt => 'Select status'}, :selected => @task.status_id ) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
