<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @task.project.try!(:name) %>
</p>

<p>
  <strong>User:</strong>
  <%= @task.user.try!(:email) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @task.due_date  %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @task.created_at.strftime("%c") %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @task.updated_at.strftime("%c") %>
</p>

<p>
  <strong>Category:</strong>
  <%= @task.category.try!(:name) %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority.try!(:level) %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status.try!(:name) %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>


<%= render partial: "comments/comments", comments: @comments %>