<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><p><b><%= link_to project.name, edit_project_path(project) %></b><br/><i><%= project.description %></i><br/>Date Posted: <%= project.created_at.strftime("%c") %>
          <br/><%= link_to 'Edit', edit_project_path(project) %> | <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



