<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @project.created_at.strftime("%c") %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @project.updated_at.strftime("%c") %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<p>
  <%= link_to 'Add Task', new_task_path(:project_id => @project.id) %>
</p>

